
body {
    background-color: burlywood;
}

.blue {
    background-color: blue;
}
.bold {
    font-weight: bold;
}
footer {
    text-align: center;
}
.profile {
    margin: 25px;
}

.left {
    float: left;
}

.margin {
    margin: 15px;
}
